body {
	font-family: Arial;
}
h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.button { 
	display: block; 
	margin: 0 auto;
	border: none;
	background-color: darkgray;
	color: white;
	padding: 15px 30px;

}

.button:hover {
	background-color: lightgray;
	color: black;
}

/*
Referenced w3schools to create .columns and .column-div class styling 
https://www.w3schools.com/howto/howto_css_three_columns.asp 
*/

.selected {
	opacity: .75 !important;
	stroke: orange;
	stroke-width: 1px;
}

.column {
	float: left;
	width: 33.33%;
}


.columns-div:after {
	content: "";
	display: table;
	clear: both;
}

/* Referenced w3schools to create centered list #footer, #Acknowledgements */ 

#footer {
	text-align: center;
}

#Acknowledgements { 
	display: inline-block;
	text-align: left;
} 

/* circle class for scatter plots */ 
circle { 
	opacity: 50%;
}

